<% include ./partials/header %>

<div style="margin-top:8%;" class="container">

<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">The EBoard Team</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Meet CAMA's Eboard Team.</p>

    <div class="row">
    <% for (var i = 0; i<((executiveBoardList.length)); i++) {%>
      <% if(executiveBoardList[i].position == "executive"){ %>
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mb-5" style="margin-top:8%;">
          <div class="avatar mx-auto">
            <img src="<%=executiveBoardList[i].image%>" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h6 class="font-weight-bold mt-4 mb-3"><%=executiveBoardList[i].name %></h6>
          <p class="text-uppercase blue-text"><strong><%=executiveBoardList[i].country %></strong></p>
          <h6 style="margin-bottom:2%;"class="modal-title" id="exampleModalLongTitle"><strong><%= executiveBoardList[i].responsibility %></strong></h6>

          <p class="grey-text"> <%= executiveBoardList[i].bio.substring(0, 150) %>.....</p>

      <button class="btn peach-gradient btn-rounded btn-sm" data-toggle="modal" data-target="#<%= executiveBoardList[i].name %>">Read More</button>

<!-- Modal -->
      <div class="modal fade" id="<%= executiveBoardList[i].name %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                    <div class="avatar mx-auto">
                      <img src="<%=executiveBoardList[i].image%>" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                  </div>

                  <h6 class="modal-title" id="exampleModalLongTitle"><%= executiveBoardList[i].name %></h6>

                  <div class="modal-body">
                      <p align=justify><%= executiveBoardList[i].bio %></p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
        <!-- Grid column -->
    <%}%>
    <%}%>

  </div>
  <!-- Grid row-->

</section>
</div>

<% include ./partials/footer %>
