<% include ./partials/header %>


<!-- EJS For Mentors -->
    <!-- Team Section -->

<div class="mentors-row-container">
    <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Our Amazing Community</h2>
                  <h3 class="section-subheading text-muted">CAMA's Community of Mentors, Professionals, and Project Ideators.</h3>
              </div>
          </div>
     </div>

         <div class="card-container">

          <% for(var counter = 0 ; counter < mentorList.length ; counter++ ) { %>

            <div style="width: 30%; margin-left:1%; margin-bottom:1%; display:inline-block; margin-bottom:2%; margin-top:0.5%;">

                <div class="card-container" style=" padding:5%;" >

                    <img class="card-img-top img-responsive img-circle" src="<%= mentorList[counter].image %>" width="260px" height="260px" alt="Card image cap">

                        <div class="card-body">
                            <h4> <%=mentorList[counter].name %> </h4>
                            <p class="text-muted"><strong><%= mentorList[counter].country %></strong></p>

                            <% if(mentorList[counter].bio && mentorList[counter].bio.length > 0) { %>

                              <p class="text-muted" align="justify"> <%= mentorList[counter].bio.substring(0, 200)%>.....</p>
                              <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#<%= mentorList[counter].name %>">Read All</button>
                              <div id="<%= mentorList[counter].name %>" class="collapse">
                                <p align="justify"><%= mentorList[counter].bio %></p>
                              </div>

                              <% } %>
                        </div>
                </div>

            </div>

         <% }  %>

        </div>
</div>


<% include ./partials/footer %>
